{% extends "base.html" %}

{% block content %}

<h1>Upload file</h1>
<div class="button-container2">
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="video">
        <input type="submit" value="Upload">
    </form>
</div>



{% if filename %}
<div class="upload-container">
    <h3 style="margin-right: 10px;">Uploaded file: </h3>
    <h3 style="color: white;">{{ filename }} <a href="/download/{{ filename }}">Download File</a></h3>
    <div class="button-container2">
        <form action="{{ url_for('predict_upload', filename=filename) }}" method="get">
            <button type="submit">Predict upload</button>
        </form>
    </div>
</div>

{% endif %}

{% if predicted %}
<div class="upload-container">
    <h3>Predicted file: </h3>
    <h3 style="color: white;">{{ predicted }} <a href="/download_predicted/{{ predicted }}"> Download File</a></h3>

</div>

{% endif %}

{% endblock %}