.header {
    font-size: 2vw;
}

body {
    background-color: black;
    color: green;
}

h1 {
    color: green;
    font-size: 5vw;
    text-align: center;
}

h2 {  text-align: center;
}

button {
    background-color: darkmagenta;
    font-size: 2vw;
    padding: 15px 32px;  
    border: none;
    border-radius: 12px;
    margin-right: 5vw;
}

button:hover {
    background-color: magenta;
}


.button-container h3 {
margin-right: 2vw;

}

.button-container {
    display: flex;
    justify-content: center; 
    text-align: center;
    width: 100%;             
    max-width: 75vw; 
    margin: 3vw auto;           
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.button-container2 {
    display: flex;
    justify-content: center;  
    align-items: center;      
    width: 100%;              
    max-width: 600px;        
    margin: 0 auto;           
    flex-wrap: wrap;
}

.button-container2 input[type="submit"]{
    font-size: 1.7vw; 
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: darkmagenta;
}

.button-container2 input{
    font-size: 1.7vw; 
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
}